.container {
    display: grid;
    gap: 20px 20px;
    column-gap: 0;
}

.container > div {
    background-color: #f1f1f1;
    border: 1px solid black;
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

.number {
    height: 50px;
    width: 50px;
}